/* All Common CSS Strat */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
body {
  font-family: "Lato", sans-serif;
}
/* All Common CSS End */

/* Nav Bar Part CSS Strat */
.navbar {
  background: #121212;
  padding: 20px 0;
}
.nav-link {
  color: #959595;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3%;
  margin: 0 20px;
  transition: 0.4s;
}
.nav-link:hover {
  color: #fd6f00;
}
.navBtn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3%;
  background: #fd6f00;
  padding: 12px 40px;
  border-radius: 8px;
  border: 2px solid #fd6f00;
  transition: 0.4s;
}
.navBtn:hover {
  background: transparent;
  color: #959595;
  border: 2px solid #959595;
}
/* Nav Bar Part CSS End */
/* Banner Part CSS Start */
#bannerPart {
  background: #121212;
  padding-top: 100px;
  padding-bottom: 150px;
}
.bannerContent h4 {
  color: #707070;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3%;
}
.bannerContent h3 {
  color: #959595;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3%;
  padding-top: 15px;
  padding-bottom: 34px;
}
.bannerContent h1 {
  background: linear-gradient(90deg, #984300 0%, #fd6f00 46%, #ca5900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 3%;
  padding-bottom: 40px;
}
.socialIcon a {
  font-size: 20px;
  color: #bababa;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #575757;
  padding-left: 5px;
  padding-top: 3px;
  transition: 0.4s;
  margin: 0 10px;
}
.socialIcon a:hover {
  color: #fd6f00;
  border: 2px solid #fd6f00;
}
.bannerBtn {
  padding-top: 60px;
  padding-bottom: 80px;
}
.marginRight {
  margin-right: 20px;
}
.bannerCounter {
  background: rgba(255, 255, 255, 4%);
  border-radius: 8px;
  padding: 24px;
}
.counter {
  border-right: 2px solid #959595;
  padding: 10px;
}
.cNone {
  border-right: none !important;
}
.counter h2 {
  color: #fd6f00;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 3%;
  padding-bottom: 20px;
}
.counter h4 {
  color: #dfdfdf;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3%;
}
.bannerImg img {
  filter: grayscale(100%);
  margin-top: -115px;
  margin-left: 25px;
  transition: 0.4s;
}
.bannerImg img:hover {
  filter: grayscale(0%);
}
/* Banner Part CSS End */

/* Service Part CSS Start */
#servicePart {
  padding-bottom: 150px;
  background: #121212;
}
.commonTitle h2 {
  color: #fefefe;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3%;
  padding-bottom: 25px;
}
.commonTitle p {
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3%;
  padding-bottom: 60px;
}
.cardOne {
  padding: 34px;
  background: rgba(255, 255, 255, 4%);
  border-radius: 24px;
  transition: 0.4s;
}
.cardOne h3 {
  color: #fd6f00;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  padding-top: 25px;
  padding-bottom: 40px;
}
.cardOne p {
  color: #575757;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3%;
  line-height: 160%;
  width: 326px;
  margin: 0 auto;
}
.cardOne:hover {
  box-shadow: 0 8px 20px rgba(255, 102, 0, 0.3);
}
.marginTop {
  margin-top: 30px;
}
/* Service Part CSS End */

/* About Me Part CSS Start */
#aboutmePart {
  background: #121212;
  padding-bottom: 150px;
}
.aboutLeftImg {
  filter: grayscale(100%);
  transition: 0.4s;
}
.aboutLeftImg:hover {
  filter: grayscale(0%);
}
.aboutRightText {
  padding-top: 100px;
}
.aboutRightText p {
  color: #959595;
  font-size: 20px;
  font-weight: 500;
  line-height: 190%;
  text-align: justify;
  padding-bottom: 40px;
  width: 627px;
}
.aboutmeCounterPart {
  padding-top: 100px;
}
.aboutmeCounter h3 {
  background: linear-gradient(90deg, #984300 0%, #fd6f00 46%, #ca5900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 15px;
}
.aboutmeCounter p {
  color: #959595;
  font-size: 24px;
  font-weight: 700;
}


/* About Me Part CSS End */

/* Portfolio Part CSS Start */
#portfolioSection {
  background: #121212;
  padding-bottom: 150px;
}
.portfolioSectinPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.sectionOne h3{
  color: #C6C6C6;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 3%;
  padding: 14px 40px;
 background: rgba(255, 255, 255, 4%);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 4%);
  transition: .4s;
}
.sectionOne h3:hover{
background: #fd6f00;
color: #fff;
}
.portfoliosectionImg{
  padding-bottom: 30px;
}
.portfoliosectionimgText{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgba(255, 255, 255, 8%);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.portfoliosectionimgText h3{
color: #C6C6C6;
font-size: 16px;
font-weight: 700;
line-height: 160%;
letter-spacing: 3%;
}
.portfoliosectionimgText h4{
color: #959595;
font-size: 16px;
font-weight: 700;
line-height: 160%;
letter-spacing: 3%;
}
/* Portfolio Part CSS End */

/* Contact Form Part CSS Start */
#contactPart{
  background: #121212;
  padding-bottom: 150px;
}
.customContact{
  background: rgba(255, 255, 255, 4%);
  padding: 14px 24px;
  width: 48%;
  border: none;
  margin-top: 25px;
  outline: none;
}
.customSelect{
  color: #959595;
}
.customContact:focus{
  background: transparent;
}
.contactFlex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.customContact::placeholder{
  color: #959595;
}

/* Contact Form Part CSS End */
/* Footer Part CSS Start */
#footerPart{
padding-top: 40px;
padding-bottom: 24px;
background: #1b1b1b
}
.footerLogoPart{
  text-align: center;
  padding-bottom: 50px;
}
/* .footerLinkPart{
  text-align: center;
} */
.footerLink ul{
  display: flex;

}
.footerSocial{
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.footerContact{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.common{
  display: flex;
  color: #959595;
  align-items: center;
}
.common i{
  margin-right: 10px;
}
.common p{
  color: #959595;
  font-size: 20px;
  font-weight: 700;
}
.email{
  margin-right: 30px;
}
.footerprivacy{
  text-align: center;
}

.footerprivacy p{
  display: inline-block;
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3%;
  padding: 16px 120px 0 120px;
  border-top: 2px solid #959595;
}
/* Footer Part CSS End */

